[package]
edition = "2021"
name = "x"
publish = false
version = "0.0.0"

[dependencies]
anyhow = { version = "1.0.79", features = ["backtrace"] }
camino = "1.1.9"
env_logger = "0.11.0"
png = "0.17.14"
pollster = "0.3.0"
wgpu = { git = "https://github.com/gfx-rs/wgpu.git" }
winit = "0.30.5"
