name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

defaults:
  run:
    shell: bash

env:
  RUSTFLAGS: --deny warnings

jobs:
  all:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install Rust Toolchain
      run: rustup toolchain install stable --profile minimal --component rustfmt clippy

    - uses: Swatinem/rust-cache@v2

    - name: Clippy
      run: cargo clippy --workspace --all-targets

    - name: Format
      run: cargo fmt --all -- --check

    - name: Check for Forbidden Words
      run: bin/forbid

    - name: Test
      run: cargo test --workspace
